/* hier kann man noch verbessern wie sich die Abstände jeweils verhalten 
und erstmal wird von der kleinsten Größe 450px ausgegangen weil der Browser bei mit nicht kleiner geht 
320 wäre aber besser, ich will aber erstmal gucken wie eine 450 auf nem 12 mini aussieht */

/* ************************************* */
/* ************** main ***************** */
/* ************************************* */
main{
	/* main doch auf 80 Prozent  */
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 8rem;
	gap: clamp(1.5rem, 3vw, 4rem);
	width: clamp(320px, 90%, 1296px); 

}

/* ************************************* */
/* ************ Fotogalerie ************ */
/* ************************************* */
.picture-gallery-section{
	width: min(90%, 1120px);
  min-width: 0; 
  position: relative; 
	
}
.pictures-container{
	display: grid; 
  grid-auto-flow: column;
	/* grid-auto-columns: minmax(200px, fit-content(250px)); */
	grid-template-columns: repeat(4, minmax(100px, 250px)); 
	/* Spaltenbreite definieren */
	grid-template-rows: repeat(2, auto);
	--g: clamp(20px, 2.8cqw, 40px); 
	gap: var(--g);
	min-width: 0; 
}

.gallery-item{
	width: 100%;
	aspect-ratio: 1/1;
	cursor: pointer;
}
#gallery-more-button{
	position: absolute;
	display: none;
	bottom: 10px; 
	right: 10px;
	z-index: 10;
	padding: 0.8rem 1.2rem; 
	border: none;
	border-radius: 30px;
	background-color: white;
	font-size: var(--step-0);
	cursor: pointer;
}
#gallery-more-button .plus {
  color: red;
  font-size: var(--step-0);
  font-weight: bold;
  margin-left: 4px;
}
/* @media (max-width: 1440px){
  .gallery-item:nth-child(n+9){ display: none; }
  #gallery-more-button{ display: inline-block; }
} */

@media (max-width: 720px){
  .gallery-item:nth-child(n+7){ display: none; }
	.pictures-container { grid-template-columns: repeat(3, minmax(100px, 250px)); }
  #gallery-more-button{ display: inline-block; }
}

/* ************************************* */
/* *********** Ausstattung ************* */
/* ************************************* */

.equipment-section{
	width: max(95%, 450px);
}
.equipment-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	background-color: rgb(from var(--color-primary) r g b / 0.2);
	padding: clamp(1rem, 1vw, 2.5rem);
}
.equipment-section h1  {
	margin:0 min(4vw, 3rem) 0;
}
.equipment-section h2  {
	margin: 0.5em 0 0 0;
}
.equipment-section ul  {
	margin: 0;
}
ul li::marker {
  font-size: 0.8em; /* Bullet wird kleiner */
}
.equipment-container-left{
	display: flex;
	flex-direction: column;
	width: max(200px,40%);
	gap: 1rem; 
}
.equipment-container-right{
	display: flex;
	flex-direction: column;
	width: max(200px,40%);
	gap: 1rem; 
}
#equipment-more-btn{
	align-self: flex-end;
	background-color: var(--color-secondary);
	outline: none;
	border: none; 
	padding: 0.5em 1.6em ;
	font-family: "AmaticSC", Arial, sans-serif;
	font-size: var(--step-1);
	font-weight: 600;
	letter-spacing: 0.2em;
	white-space: normal;
	line-height: 0.9;
	cursor: pointer;
	border-radius: 0.50rem;
}

/* ************************************* */
/* ****** Verfügbarkeit & Preise ******* */
/* ************************************* */
.availability-prices-section{
	container-type: inline-size; 
  container-name: availability-prices;
	width: 95%;
}
.availability-prices-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5%;
}

.availability-container{
	width: max(500px,45%);
}
.availability-container h1 {
	margin:0 min(4vw, 3rem) 0;

}

/* ******** calendar-container ********* */
.calendar-nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 0;
	width: 100%; 
	background: transparent; 
  border: none; 
	padding: 0.8rem 0;
	font-family: var(--font-secondary);
}
.calendar-nav button {
	background: none;
	border: none;
	font-size: 1.5rem; 
	cursor: pointer;
}
select {
	padding: 0.5rem;
	background: transparent; /* kein Hintergrund */
	border: none; 
	font-size: var(--step-2);
	font-weight: 600;
	font-family: var(--font-secondary);
	width: auto;             /* nur so breit wie Inhalt */
	/* min-width: fit-content; */
	padding: 0 0.25rem;
	text-align: center;
	cursor: pointer;
}

/* ********* price-container ********** */
.price-container{
	width: max(400px,50%);
	/* padding-left: min(3rem; */
	display: grid;
	grid-template-areas: 
					"head head"
					"summer winter"
					;
	justify-content: space-between;
	gap: 0.5rem;
}
.price-head{
	grid-area: head;
	margin: 0;
}
.summer{
	grid-area: summer;
}
.winter{
	grid-area: winter; 
}
.price-container h2 {
	margin: 0;
}
.subheadline {
	font-family: var(--font-secondary);
	margin-top: 0;
	font-size: var(--step-0); 
}

/* ************************************* */
/* ********* booking & Banner ********** */
/* ************************************* */
#booking-section {
	width: max(95%);
}
#booking-section h1  {
	margin:0 min(4vw, 3rem) 0;
}
#booking-section__p{
	width: 100%;
	text-align: center;
	padding: 1em 0;
	margin: 0;
	font-size: var(--step-2);
	background-color: rgb(from var(--color-primary) r g b / 0.2);
}

/* ************************************* */
/* ********** Modal Elemente *********** */
/* ************************************* */

/********* Equipment - Modal *********** */
#equipment-modal-element{
	width: 90%;
}
.equipment-modal__header{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-secondary);
	width: 100%;
}
#equipment-modal__header__h1{
	margin: 0px;
}
#equipment-modal-close-button{
	font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
	position: absolute;
  right: 20px;
	margin: 10px;
}
#equipment-modal__content{
	margin: 2em 0 2em 0;
}
#equipment-modal__content__h2{
	margin: 0.5em 0 0 0;
}
#equipment-modal__content p {
	margin: 0;
}

/********* Gallery - Modal *********** */
#gallery-modal-element{
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	width: 100vw;
	height: 100vh; 
	border: none;
	background: rgba(0, 0, 0, 0.9);
	color: white;
}
#gallery-modal-element[open]{
	display: flex;
}
#gallery-modal__header{
    /* position: relative;
    align-items: center;
    height: 10%; 
		  */
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 10%;  
}
#gallery-modal-close-button {
	position: absolute;
	font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  right: 20px;
	margin: 10px;
} 
#gallery-modal__content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90%; 
}
.gallery-modal-element__button {
	background: none;
	border: none;
	font-size: 2em;
	cursor: pointer;
	margin: 10px;
	color: white;
}
#gallery-modal-image{
	max-height: 100%;
}

/* ************************************* */
/* ********* Container Queries ********* */
/* ************************************* */

@container availability-prices (max-width: 700px){
  .availability-prices-container{
		flex-direction: column;
		gap: 20px;
	}
	.price-head{ margin:0 min(4vw, 3rem) 0; }
	.availability-container, .price-container { width: 100%; }
	.calendar-container {
		padding: 0 2rem;
	}
	.summer, .winter{
  margin-inline: clamp(1rem, 6vw, 3rem);
}

}