.header {
  position: relative;
  width: 100%;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-content: center; */
  padding: 10px 24px;
  border-bottom: 2px solid var(--color-secondary);
  /* height: 6rem; */
}
#site-brand {
  text-decoration: none;
  color: inherit;
  line-height: 1;  
}
#header__h1 {
  font-family: var(--font-secondary);
  font-weight: 300;
  margin: 0;
}
#header__h1__span {
  font-size:var(--step-2);
}
#header-redirections {
  display: flex;     
  flex-direction: row ;
  align-items: center;    
  gap: 20px;               
  text-decoration: none;   
  color: inherit;  
}
.header-redirections__img {
  display:block; 
  width: 35px; 
  height: 35px;
}
/* .header-redirections__img2 {
    
  width: 35px; 
  height: 55px;
} */
#menu-btn {
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

/* ************************************* */
/* ************ Menu Modal ************* */
/* ************************************* */
#menu-modal-element {
  /* position: fixed;
  top: 0;
  left: 0;
  border: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
	max-width: unset;
	max-height: unset;
  background: white;
  font-weight: 600;
  font-family: var(--font-primary); */
  position: absolute;
  /* definiert die position top right bottom left*/
  /* inset: 100% 0 auto auto; */
  inset: auto;
  top: 90%;
  right: 0;
  margin: 0 24px;
  padding: 0px;
  border: none;
  max-width: none;
  max-height: none;
  transform: none;   
  background: transparent;      
}
.dialog-inner {
  border-radius: 8px;
  width: max-content;
  height: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  background-color: var(--main-bg);
}
/* #menu-close-button {
  font-size: 2rem;
  margin: 10px;
  color: black;
  cursor: pointer;
  border: none;
  background: none;
} */
.header__nav {
	display: flex;
	flex-direction: column;
  padding: 1.5em;
	/* align-items: flex-start;
	gap: 2rem; */
}
.header__nav a {
	font-size: var(--step-1);
	text-decoration: none;
	position: relative;
  text-decoration: none;
  color: black;
  padding-top: 0.5em;
  padding-bottom: 4px; /* Platz für den Strich */
  transition: color 0.3s ease;
}
.header__nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s ease;
}
.header__nav a:hover::after {
  width: 100%;
}

@media (max-width: 600px) {
  #header__h1__span {
     display: block;       /* jetzt eigene Zeile */
    margin-top: 0;    /* Abstand zwischen LINDENHOF und der zweiten Zeile */
    line-height: 1;  
  }
}
