*{
    font-family: sans-serif;
}
body{
    background-color: aquamarine;
    
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* In der Mitte des Bildschirms ausrichten */
    align-items: center;
    border-style: dashed;
    background-color: blanchedalmond;
    min-height: 1600px; 
}

/* ************************************* */
/* ************** Header  ************** */
/* ************************************* */

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 24px; 
}
.socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 180px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: large;
}
nav a {
    text-decoration: none;
    color: inherit; /* Vererbt die Farbe von der übergeordneten Element */
}
nav a:hover{
    background-color: #f0f0f0; /* Ändert die Hintergrundfarbe beim Hover */
    border-radius: 5px;        /* Rundet die Ecken ab */
}
/* ************************************* */
/* ***** general Information block ***** */
/* ************************************* */

.general-information{
    background-color: blueviolet;
    width: 100%;
    max-width: 1200px; 
    height: 500px;
    border: dotted; 
    gap: 16px;
    /* grid settings*/

    display: grid; 
    grid-template-areas: 
        'picture-left picture-mid picture-right'
        'picture-left headline headline'
        'picture-left paragraph paragraph';
}
.left-picture-general-info{
    /*grid settings */
    grid-area: picture-left;
    /*general settings*/
    width: 100%;
    height: 100%
}
.mid-picture-general-info{
    /*grid settings */
    grid-area: picture-mid;
    /*general settings*/
    width: 100%;
    height: 100%
}

.right-picture-general-info{
    /*grid settings */
    grid-area: picture-right;
    /*general settings*/
    width: 100%;
    height: 100%
}
.headline-general-info{
    grid-area: headline; 

}
.paragraph-general-info{
    grid-area: paragraph; 
}


/* ************************************* */
/* ** Ausstattung & Zimmergestalltung ** */
/* ************************************* */

.equipment{
    border: dashed;
    width: 100%;
    max-width: 1200px; 
}

.container-equipment{
    /*grid settings */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    width: 100%;
    gap: 20px; 
    /* border: dashed; */
}
.equipment-item1{
    display: flex;
    gap: 40px;
    padding: 0 40px;
    height: auto;  
    /* border: dashed; */
}
.pictogram{
    width: 20px;
    height: 10px;
    height: auto; 
}

/* ************************************* */
/* ************ Fotogalerie ************ */
/* ************************************* */

.picture-gallery{
    width: 100%;
    max-width: 1200px; 
    border: dashed;
}
.container-pictures{
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.container-pictures img{
    width: 180px;
    height: 180px;
}
/* ******** Dialog  Fotogalerie ******** */
dialog{
    border: none;
    width: 100vw;
    height: 100vh; 
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    color: white;
}
dialog[open] {
    display: flex;
}
.modal-element-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    
}

#close-button {
    position: absolute;
    right: 20px;
    /* transform: translateY(-50%); */
} 

#modal-element-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%; 
}
#modal-image{
    max-height: 100%;
}
dialog button {
    background: none;
    border: none;
    font-size: 2em;
    cursor: pointer;
    margin: 10px;
    color: white;
}

/* ************************************* */
/* ************** Kalender ************* */
/* ************************************* */

.calendars{
    display: flex;
    gap: 36px;
}
td{
    width: 60px;
    height: 60px;
    border: 1px solid;  
    text-align: center;
}